*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.App {
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

select {
  background-color: #eee;
  border: 2px #374575 solid;
  padding: 0 1em 0 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  margin:12px;
}